.display{
 margin:10px;
 width:170px; 
 font-size: 25px;  
 border-radius:5px;
}
.display {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 12px;
  background: #ff5c8d;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 0 15px;
  box-sizing: border-box;
}